@font-face {
  font-family: "MrRobot";
  src: url("./fonts/mrrobot.ttf");
}

@font-face {
  font-family: "Alterebro Pixel Font";
  src: url("./fonts/alterebro.woff2");
}

html {
  cursor: none;
}

body {
  margin: 0;
  font-family: "Alterebro Pixel Font";
  overflow: hidden;
}

button {
  font-family: "Alterebro Pixel Font";
}

.module {
}

code {
}

div {
  display: flex;
}

section {
  display: flex;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
